<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Containerized Go App Lives</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
    <div id="app">
        <div>
            <a href="/page3"> Previous Page </a>  | 
            <a href="/page2"> Next Page </a>
        </div>
        <hr>
        <h3>ECHO Server Test</h3>
        <form @submit.prevent="submitForm">
            <textarea rows="10" cols="50" v-model="inputText">This is my test placeholder text</textarea>
            <button type="submit">Submit</button>
        </form>
        <br>
        <transition name="bounce">
            <div v-if="responseText !== ''">
                <textarea rows="10" cols="50" v-model="responseText"></textarea>
            </div>
        </transition>
    </div>

    <footer>
        <script>
            const { ref } = Vue;

            Vue.createApp({
                setup() {
                    const inputText = ref("This is my test placeholder text");
                    const responseText = ref("");
                    
                    const submitForm = async () => {
                        try {
                            const response = await fetch("/", {
                                method: "POST",
                                headers: {
                                    "x-user-header": "myheader",
                                    "Content-Type": "text/plain"
                                },
                                body: inputText.value
                            });

                            responseText.value = await response.text();
                        } catch (error) {
                            console.error("Error:", error);
                        }
                    };

                    return { inputText, responseText, submitForm };
                }
            }).mount('#app');
        </script>

        <!-- CSS for the transition effect -->
        <style>
            .bounce-enter-active {
                animation: bounce-in 0.5s;
            }
            .bounce-leave-active {
                animation: bounce-in 0.5s reverse;
            }
            @keyframes bounce-in {
                0% {
                    transform: scale(0);
                }
                50% {
                    transform: scale(1.25);
                }
                100% {
                    transform: scale(1);
                }
            }
        </style>
    </footer>
</body>
</html>
