<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Three</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
    <div id="app">
        <h1>Welcome to Page 3</h1>
        <div>
            <a href="/page2"> Previous Page </a> | 
            <a href="/"> Next Page </a> 
        </div>
    </div>

    <footer>
        <script>
            const { createApp } = Vue;

            createApp({
                // No need for data or methods in this simple case
            }).mount('#app');
        </script>
    </footer>
</body>
</html>
